<div class="container home-callout">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag("https://lh3.googleusercontent.com/0yCuUGza_-O9OZXPnhMufrsVcp_0CS5U_1aSNPp4OjiYWNp_Yt2QHLSOt_P4NN4boDSAiYy5yxGH1t46gSh3wnmNpXqomScX3oIj4jxA6P8sx-kO5jwTU1cO3dwrirvr6l5buBtxu5ek33lLCFvsjmie8KJqPN58v6gFdbVRIYZ0xvpQGJNYLzlPX62mWKgeqo1JsSsRmRenXNDxoL6Hr6hORQ9EPLxyhRql-DjBbN09kTUH40jFAnrqKICruXAUjMDZ8_rVyY9Pqnk5tsqgAZil6ZAGO5pS_ytA-4apL11lEK60XHQ3ahTbhu9Tv6Ltk09GDG52BqZyYLBn7crBA08n73dcfYJh4qZOkRMBTXcZcwBldg8k9UfgmLx_EjyxrgXPBzqzpVvsizC3XGTs_Inr47J0BggO5O2GsFc2gZ8HLaUQpF_JGHpP9yynYa4S0xecs1Xf8ev9SBRvQCRpgGDyiQGOYeV1cs30mKZWRIoqIhGmOPpLqb57A3byXd7j8-zKi4XY_cG5yCfqATRR5n2EwgwjbI8wVULb56LT7B1ONL3bT5f1uH47nLweFmfpbDxdJS7NDtRXOWLOygZOGfB9k4FpSBMHS4A3db8LObnR-8Y17_dEoikzBtdnKD8=w240-h384-no", class: 'leaves-img-works') %>
      <%= link_to "works", "#", class: 'link works' %>
      <div class="portfolio-box">
        <h1>port</h1><br/>
        <h1>fol</h1><br/>
        <h1>io</h1>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-self-center">
      <%= link_to about_path do %>
        <%= image_tag("https://lh3.googleusercontent.com/rbqk6oGRSRyV2MR-qZfzrUoIl7s3vLq3bRgAvahKnlj6OECUP2yae1gXCFFKN3_hsppVlWnqP9RoX-rIARrRrg246tym4RoihmwV8-N5j4Zcp1LDhegec1tfWW14dIRCmMsSI7LcMGYaVKsDBQyFMO5Re4AY_BJcbJ1b9-CvXN_E3mZBfAfMe-uyNtW40BHpKPRjfXfrxcwlqiYnvvPnTri7eXVZR-CbRZ3fGClB0p4ZIHUWXOdUKtfdh2E74ykt0bJ-0GcnDzTOclG9xu9PKbRBSqAmFsrGypraP_DeTCQV7IXfSJf7AnNTAmwozpUiot5O-N6e1CL9TE5btWvd6jmzuggYxVAaD2Ng0_B07o9hpfRIYVHZfPhXjjWzB7oMqoG4MiRjex9nLzdKjaZgTlZ4D-5_jGYTMfiLZGsk504vgVYg4Jqy26k3XllozwREW1Hxk0Ao_t6crPPVXtVtYv9Q7coTcHdjRZ-ANjIEumFFAktFe5D3dwRJ8wGbIPe0hSqkM5xsrUJfl8Ya3y7dHFV3dLbUcJByQ_2_505kfWAdM_GQbCyCkbr9LQZCqEs1ZutZ9wLMjUwsVW_qiMdF8dKyM1EtDwNC4tZgBztGbnDCNugEl7Ntl0WYr5LhXdY=s910-no", class:'portrait-img rounded-circle') %>
      <% end %>
    </div>
    <div class="col-md-3"> 
      <div class="d-flex justify-content-center">
        <%= image_tag("https://lh3.googleusercontent.com/b4bfHa1ZLl2nUFf_9zWVuQlfdDohAJNwuv-bVYZppjIx5U9g_eVXw3DYlcC13eTY1cyRU6xgiR14G4Te3HuvBzaL81L6yuut94FB23DHq5a9NzDnN-_H1E74hqXDOCDU58Ckv6pXIqOCtY9RVdsEndpPY_CSQFydo9qRp9gtHv__3cv0wnurEpTNX9mpIUK-0BwE6tXYDJRsHCYWdenzcAraEPrKUXc5YUwuKqS5LtTsBUp7MHP2hMAXAfaMzcwz5uUCuwLIjH5HTwvK9unRdS9_nYOiEZbaDqkLISBdGkYs5wxH0cyKqNV-GxoRbAIOuOa6XyNudtUoSSp_N8tB2f4afO9j--Qks8jomDtwXKcc3JA5-9V-MdSgp74luC3gLcPvmd-9f4arZqMOWAcWHXQqeRt1-gH6F797P6DcQB3kRmBAr2V3l1P4QcCE7cuRNWPTw_cBC-izmBLMqcTqENcTGWGR7z75wU7B5ULFo79-GjNReIp-yLlZT3tXESPCaSXX8P3zs1YVznmL2TlakafxMnEdgSjg90A3b9vMUo0saP42c71VZZtO0tDOeHeiSLNt0znpZOeY7up1kh5ol42PdXt8dzMHExlJLIPhgm0CHfvICb4vEZWnzHGhCuI=w93-h910-no", class:'nogellos-img') %>
      </div>
      <%= link_to "contact me", "#", class: 'link contact-me' %>
      <%= image_tag("https://lh3.googleusercontent.com/0yCuUGza_-O9OZXPnhMufrsVcp_0CS5U_1aSNPp4OjiYWNp_Yt2QHLSOt_P4NN4boDSAiYy5yxGH1t46gSh3wnmNpXqomScX3oIj4jxA6P8sx-kO5jwTU1cO3dwrirvr6l5buBtxu5ek33lLCFvsjmie8KJqPN58v6gFdbVRIYZ0xvpQGJNYLzlPX62mWKgeqo1JsSsRmRenXNDxoL6Hr6hORQ9EPLxyhRql-DjBbN09kTUH40jFAnrqKICruXAUjMDZ8_rVyY9Pqnk5tsqgAZil6ZAGO5pS_ytA-4apL11lEK60XHQ3ahTbhu9Tv6Ltk09GDG52BqZyYLBn7crBA08n73dcfYJh4qZOkRMBTXcZcwBldg8k9UfgmLx_EjyxrgXPBzqzpVvsizC3XGTs_Inr47J0BggO5O2GsFc2gZ8HLaUQpF_JGHpP9yynYa4S0xecs1Xf8ev9SBRvQCRpgGDyiQGOYeV1cs30mKZWRIoqIhGmOPpLqb57A3byXd7j8-zKi4XY_cG5yCfqATRR5n2EwgwjbI8wVULb56LT7B1ONL3bT5f1uH47nLweFmfpbDxdJS7NDtRXOWLOygZOGfB9k4FpSBMHS4A3db8LObnR-8Y17_dEoikzBtdnKD8=w240-h384-no", class: 'leaves-img-contact-me') %>
    </div>
  </div>
</div>