<div class="container-fluid home-callout">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag("https://lh3.googleusercontent.com/JEYtT5y8KxsvoX4vBvEDWqjW7gi1PhWCT2G7Uma2SabISa709m2bOzZLzDyCN5nOx81IKDPCKaQ-UXxjk1x-GhAF1l9Mumj5Y1UMU6-UEFeql0Du9h4y67viVzTSEkUwMbmj2pjDz8sMqxMSo4RM2GA_sPYmifenuX3NEPlGuvVuP98_Hy-dkzxCgzgYxe_5_MIns0Gj_FIg5UPXW1bsyKX-A3djkkFzo2sM_xfZiCObNExB0y_Ooh_vS9wTd2anksf1UGRbZQUEvwfgCB1OIalxBmjmKg86D6OEYkqNKn8Yjv0HFuEhgmn2RTJlz4nxIRSBcHbutNfFLnxkur2isACJINSa_4Azk_NKabz5QCN-kpMPMZbU3epgFB3YnkmJgHEqktvEgcq8ShL3AWf2VW-QM8rYQLi0N7hjlFDoSB6qgh7KETUgOz42v6ycx1zJ2wSKQwdKwixgB2MKTn8nRk-NtVapxNTIy-D9zoSiIo-nfe25OEzNpiZNTIv7MGcE7aAyupXHEsrJCCA6eeomWJbAC-TOko-bGnuwClCKYhCOA00z_pNByywltUkep8pFijjqlF3EMdnppgjkwAK_Aet_i1UAXKYEFMnUmr8=w240-h384-no", class: 'leaves-img') %>
      <%= link_to "works", "#", class: 'link works' %>
      <div class="portfolio-box">
        <h1>port</h1><br/>
        <h1>fol</h1><br/>
        <h1>io</h1>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-self-center">
      <%= image_tag("https://lh3.googleusercontent.com/aaqwKVy1E1iPfPzYBCDlnqqqDabuph5iugCgsTvvC4LTKHnUAiEZ3is8im7Kw2nNdy-VRYxyKNte71iO9L23IDmHVzQKnZEjpMZ4qTpu07ccqssToMwoSTWYu57Cuz2kc00JDEefUln3zItopFft86dAXZ5nYrobWvu-Qkka_E6NcFptCLfq-47xjJ_R_lSWowVt6XPE1sQVPepE57nhV_C0qL0QmUsoLsZoeukIGyaxjRJhn36sWv_JSpROI0AhsagZNFAdYixLAXAgKwK_U6JkQLswXS2YztWbXJmw1Cy4tBqQEzgdXfZCbYojqOQ4CJvqBNfhodZZo0dka8J-zc5pNKeaGve_-k4rwtKWf3h9MoGoxA7E6TbfgsO5oR4V6kJ96Apo-BKEIdgW6EoP13ffR1gE35CQphiBLVDZEpJlD4mGQFRAfT3E4BRa0AH6gms-E_0uxwzxkkU8wFLIslene5BVI57RcbQQX095zPUtz0DHjDSIvws_JJEHydiH1MBcaye9A1LyXF2FJuJHtp2xWZT1o917wSCvdN9MpPk7FblajWfpeoGaFe6Qfiu3na5vaSoCk2ybRQpSJUff3wGD353KZMVtZPJfdio=s773-no", class:'portrait-img rounded-circle') %>
    </div>
    <div class="col-md-3"> 
      <div class="d-flex justify-content-center">
        <%= image_tag("https://lh3.googleusercontent.com/DKHsKXU2QwT48ExTeXSira7wsAyr195p8s0ZK1bVbeeQ9SMD32SrEEHeuGXeZFkDpQx2lSqiIe4uE2XRUYLgxSiGUWm_crcHw6FruFxwb_ojzjhq8uq-1KDP7Ub3a8_oIvdv4PBnPqOXBY3JTS-eypryWN91nLTIFftkv1ilxjQlsTxpmZ1B5kIxybsEk6YOWwHAhfWrgixPdZUeOKgZxbZz6zAahmjJ78voOV1ZR68P79nX00j_3SHmdV_zXlfuSkKRD1A--aDEUnl8zF9Pqtf1ECW86uJetSiqwksTK3Dt5-XLM4l5uw8A5aX4dzYBjyeapJ-9AP-UChS8w3-C5brgyIE_-pGcR_Oa1spDn1NqiuUxj8WTVYBggsPbm8mvfNmelZWF9_FyNbXwPtMqaVWrWGv8mLp9OgFK4tz-zif3Gcus3_crvPEoVj55PvwLI12kWrwOJ-1bZOSxi1qd2c5Vw4kUsQXlvQzaxu5PUUhX-qZ70cF1flMyTOG7ZXmtwKLwlVbl1YNpjdzJL3PXbVr1i7KZ7mEuse9vWps6G9ACgd6Kh0sxe_8BpmLpzIgt9LLmv7QWSkVFQkZc84F0mbksaPaVas4ouwLi7gk=w78-h773-no", class:'nogellos-img') %>
      </div>
      <%= link_to "contact me", "#", class: 'link contact-me' %>
    </div>
  </div>
</div>