<div class="container home-callout">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag("https://lh3.googleusercontent.com/wBNlIBMFSEUbzFRYQb87H914Gb8bEH61fehuEjpqJ1XT1GMZzWNv44mozIidPn0KWxJGs-Wyqoxr-Fo6n9-PwZnFPXnwF48atVLHF8_3QpGpA3bScXF9r3Qs9ooYTDFrvnaYqEZP2E8KibTR45ph__LAIZruqpdflWR5uwPqvvkNfpg3V3-VuhB7gIgDtBd9M43ftAPHvkCpVwaEWUKSnqVC-9Y5y5D3AZ580A8EfFFekmBHAB6b2zZHhCkrKuDeGkr2JlQaL5pJNkXPYutTDm-KbSJKleMMfz8Xp85X32PP8t3tT60uASOAKhlDl9FKRFzD2FlCY_9Niw9rnyei6KjruM9FvH56w_gcDAq-Ipi54DvtTKqyxUEVZ2f1dHeFR9XijAbmlWqCWQOUfUl_HobKVR8zsAR_T3toAGuUtakol806xLE9ugRYXCA5jh57wPHdte6FJBr5qUglMbGbxpcRimMlHh0KIp30XPExbVkAQBnJvQQ_iRawwU3QJ-QdNbSax0TTjm3puDjqCvg36hZu5poXYZCAGAqO-7O1S6tqriaT15MfUZHjr5fwvi6abQIDZyTFnlQo_nEBBHIC6Tkb8l9vU4MJdiK-VGBUf63BQrFim-BvjywOtvlWvYY=w384-h240-no", class: 'leaves-img-works') %>
      <%= link_to "works", "#", class: 'link works' %>
      <div class="portfolio-box">
        <h1>port</h1><br/>
        <h1>fol</h1><br/>
        <h1>io</h1>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-self-center portrait-and-text">
      <%= image_tag("https://lh3.googleusercontent.com/PK5s9cYHU0lixP2P7HpsQ1Djj_Ordb_47AIiLxMK5wCrklArmYmAhWSp3wnVFO-JGlhKlS2jnj2tgIwP1XbnZg1fvh97KlCuzoloDfe398U1Idpkczz9lVnm8Ar8S_mSNAreE3mtoonzV5-fu3YL0HRtNZ5ol8AFYn35eNlkpAlt-VrdNyPaTCuczEltZONzTZjSuwc6IUSAB3D4TtmwurOj_TUl_7TYvwdlNAuGLOqxUSv5K2tGimBgCYvfOL2IyWc_mm8HGJMXeS-fOwXDjlBfoKJw7fcuyNjVu619JIYKIrbGUlHRkBRzJf1MZRfI6V5qr7HrivIL2xTilFM0dg2nUIpXlAPn5izn4M9g3c29oNyPFogGXcmDidGaLPf8EMe2zYWLWQHCfr3xdOJXER6QbbjqbXRqb3vchIb01RdKVprHOvwthLKAdQNk0Vdr-7cK0W1pT3g40uoCSyNfI2QPxKhZt-lF4ykqWySbr1kme7-ry45WYzezaoaOplD5m5kfrAd1m6yEPVqyTOD8Zt5Zh5iOJTB8JgaulzWiDGlFay43PYCkUGo85kGUhPjnNFmUvauBRs5zwEymDJgWg6ujkI8TI24g2lJ8UztOwPBe4S5TSWXTCbMfV2nJ-VE=s910-no", class:'portrait-img rounded-circle') %>
      <div class="img-text d-flex align-items-center justify-content-center">
        <%= link_to "About Me", about_path, class: 'text-center' %>
      </div>
    </div>
    <div class="col-md-3"> 
      <div class="d-flex justify-content-center">
        <%= image_tag("https://lh3.googleusercontent.com/iEggr3uEMS57CtVJT94u5CGSGa0G_3hRjfsM2hb1GcqZzQ1ZzcGeC1pRFf6sO1IDJM9l3zF1Cr5ibfKfuBwL0jd1XV5pJF3D9YO1d-CejkFAmdfjaqnNcIbI5UmVATE3F-O95SHNuy_pIKFv6ABiUwUUWngY38nMeg9VdH7zGiXYGffyXAB662RqWmTgUWfj0ZdwFnJwtzmzq_toWvg9rO6ueT1adthbuZ82ZtOXpjEubZUww_LMzrDLXau1uQJAd1mwy1jO2VP0SlKSFQnCmzBr0CUP5d2qFtysjsLy8NFCE2ug13qRFzEw0x0D8GH9-sldU_T0uK4riE0vXU_1SzcLIO6mnxDJT6GZLYnSPQVRn7dA2dtfERTC1b3SpXP8YSPYSw8e3MdUl6Pr9TLp5iZ5D6l7Ij4TtG0kW8R2PNec_0uZylcqDOfANPFpVwPUUvZgrpPcXkMSuVcNRmXhhP26ouMLKiuH6vOTjuHOYmBGjGGy73s631hgpBQD4g7pG6xRkToALLvm0A1NCtkpYXkKYlB4ppUIwSbSV_Nx1jMORBKZhY3-JXriU-NLPSPe4hnOwwM95wBCY1rHHCIFsTEGwOUMitS1NbmZ7RKF5cG6P6gfnUKJ1CNgWXhAzUg=w93-h910-no", class:'nogellos-img') %>
      </div>
      <%= link_to "contact me", "#", class: 'link contact-me' %>
      <%= image_tag("https://lh3.googleusercontent.com/wBNlIBMFSEUbzFRYQb87H914Gb8bEH61fehuEjpqJ1XT1GMZzWNv44mozIidPn0KWxJGs-Wyqoxr-Fo6n9-PwZnFPXnwF48atVLHF8_3QpGpA3bScXF9r3Qs9ooYTDFrvnaYqEZP2E8KibTR45ph__LAIZruqpdflWR5uwPqvvkNfpg3V3-VuhB7gIgDtBd9M43ftAPHvkCpVwaEWUKSnqVC-9Y5y5D3AZ580A8EfFFekmBHAB6b2zZHhCkrKuDeGkr2JlQaL5pJNkXPYutTDm-KbSJKleMMfz8Xp85X32PP8t3tT60uASOAKhlDl9FKRFzD2FlCY_9Niw9rnyei6KjruM9FvH56w_gcDAq-Ipi54DvtTKqyxUEVZ2f1dHeFR9XijAbmlWqCWQOUfUl_HobKVR8zsAR_T3toAGuUtakol806xLE9ugRYXCA5jh57wPHdte6FJBr5qUglMbGbxpcRimMlHh0KIp30XPExbVkAQBnJvQQ_iRawwU3QJ-QdNbSax0TTjm3puDjqCvg36hZu5poXYZCAGAqO-7O1S6tqriaT15MfUZHjr5fwvi6abQIDZyTFnlQo_nEBBHIC6Tkb8l9vU4MJdiK-VGBUf63BQrFim-BvjywOtvlWvYY=w384-h240-no", class: 'leaves-img-contact-me') %>
    </div>
  </div>
</div>