<div class="container home-callout">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag("https://lh3.googleusercontent.com/wyuVc5HoaQ1qGfi4AjX2jNn7qwN6GTohJ1RCpwl8387wkWr2-WssMAuUww4MKHW185p-gzlXdyqSI-fLB33XLel3xazV_k7Qjq6f6FiCK0pMWX3Gc63z3YgFua0sf_S78-Y7icL75uiubJ6ZO8EiThiq-Cr3XkZ4T7sEie4Eol9Dqi_SQ_oFb8sMEI-GtgmQhG7K4p0sc74-b8wO2nWZv4bj_X10kRoNVM7CINhX4NWUXUAbdh16Q1QZfD6ZyoB7p7lnTNNHT6YoZfUan9b3b26P59GlKe7KmLUHELOz9zpxEQSXX0ueDEP4slxekPKUKBgbR7-vQrtIlNdXSx4LnCL1oIPtpnM7y47D3ja1aJN0r8pvSa4shd4O967LdlhrYrCHcsPqWXTykF5ukFKx_Xn4KxFrB0KPjmCvyL6hWQiVxZ_LTs8lckpZEusOZqmzQKM8_yF0XkEwZEfwXCOGR4RvtWxe0ShV1zH3_og8TeBxoctgk27SwH87MGyN3kVy5rZIVP9C48iz0on5lgZvVdk_FP3mQOnovjfIiTgAfe5teSzSjY0GTm0cpK2EcK2e1PmLCpv-1APB7bv8UcZN-fDaPDRVVJnXmUhpueT_l9e7_Jmv3hNXr5iseL8Jrc4=w384-h240-no", class: 'leaves-img-works') %>
      <%= link_to "works", "#", class: 'link works' %>
      <div class="portfolio-box">
        <h1>port</h1><br/>
        <h1>fol</h1><br/>
        <h1>io</h1>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-self-center">
      <%= link_to about_path do %>
        <%= image_tag("https://lh3.googleusercontent.com/rbqk6oGRSRyV2MR-qZfzrUoIl7s3vLq3bRgAvahKnlj6OECUP2yae1gXCFFKN3_hsppVlWnqP9RoX-rIARrRrg246tym4RoihmwV8-N5j4Zcp1LDhegec1tfWW14dIRCmMsSI7LcMGYaVKsDBQyFMO5Re4AY_BJcbJ1b9-CvXN_E3mZBfAfMe-uyNtW40BHpKPRjfXfrxcwlqiYnvvPnTri7eXVZR-CbRZ3fGClB0p4ZIHUWXOdUKtfdh2E74ykt0bJ-0GcnDzTOclG9xu9PKbRBSqAmFsrGypraP_DeTCQV7IXfSJf7AnNTAmwozpUiot5O-N6e1CL9TE5btWvd6jmzuggYxVAaD2Ng0_B07o9hpfRIYVHZfPhXjjWzB7oMqoG4MiRjex9nLzdKjaZgTlZ4D-5_jGYTMfiLZGsk504vgVYg4Jqy26k3XllozwREW1Hxk0Ao_t6crPPVXtVtYv9Q7coTcHdjRZ-ANjIEumFFAktFe5D3dwRJ8wGbIPe0hSqkM5xsrUJfl8Ya3y7dHFV3dLbUcJByQ_2_505kfWAdM_GQbCyCkbr9LQZCqEs1ZutZ9wLMjUwsVW_qiMdF8dKyM1EtDwNC4tZgBztGbnDCNugEl7Ntl0WYr5LhXdY=s910-no", class:'portrait-img rounded-circle') %>
      <% end %>
    </div>
    <div class="col-md-3"> 
      <div class="d-flex justify-content-center">
        <%= image_tag("https://lh3.googleusercontent.com/b4bfHa1ZLl2nUFf_9zWVuQlfdDohAJNwuv-bVYZppjIx5U9g_eVXw3DYlcC13eTY1cyRU6xgiR14G4Te3HuvBzaL81L6yuut94FB23DHq5a9NzDnN-_H1E74hqXDOCDU58Ckv6pXIqOCtY9RVdsEndpPY_CSQFydo9qRp9gtHv__3cv0wnurEpTNX9mpIUK-0BwE6tXYDJRsHCYWdenzcAraEPrKUXc5YUwuKqS5LtTsBUp7MHP2hMAXAfaMzcwz5uUCuwLIjH5HTwvK9unRdS9_nYOiEZbaDqkLISBdGkYs5wxH0cyKqNV-GxoRbAIOuOa6XyNudtUoSSp_N8tB2f4afO9j--Qks8jomDtwXKcc3JA5-9V-MdSgp74luC3gLcPvmd-9f4arZqMOWAcWHXQqeRt1-gH6F797P6DcQB3kRmBAr2V3l1P4QcCE7cuRNWPTw_cBC-izmBLMqcTqENcTGWGR7z75wU7B5ULFo79-GjNReIp-yLlZT3tXESPCaSXX8P3zs1YVznmL2TlakafxMnEdgSjg90A3b9vMUo0saP42c71VZZtO0tDOeHeiSLNt0znpZOeY7up1kh5ol42PdXt8dzMHExlJLIPhgm0CHfvICb4vEZWnzHGhCuI=w93-h910-no", class:'nogellos-img') %>
      </div>
      <%= link_to "contact me", "#", class: 'link contact-me' %>
      <%= image_tag("https://lh3.googleusercontent.com/wyuVc5HoaQ1qGfi4AjX2jNn7qwN6GTohJ1RCpwl8387wkWr2-WssMAuUww4MKHW185p-gzlXdyqSI-fLB33XLel3xazV_k7Qjq6f6FiCK0pMWX3Gc63z3YgFua0sf_S78-Y7icL75uiubJ6ZO8EiThiq-Cr3XkZ4T7sEie4Eol9Dqi_SQ_oFb8sMEI-GtgmQhG7K4p0sc74-b8wO2nWZv4bj_X10kRoNVM7CINhX4NWUXUAbdh16Q1QZfD6ZyoB7p7lnTNNHT6YoZfUan9b3b26P59GlKe7KmLUHELOz9zpxEQSXX0ueDEP4slxekPKUKBgbR7-vQrtIlNdXSx4LnCL1oIPtpnM7y47D3ja1aJN0r8pvSa4shd4O967LdlhrYrCHcsPqWXTykF5ukFKx_Xn4KxFrB0KPjmCvyL6hWQiVxZ_LTs8lckpZEusOZqmzQKM8_yF0XkEwZEfwXCOGR4RvtWxe0ShV1zH3_og8TeBxoctgk27SwH87MGyN3kVy5rZIVP9C48iz0on5lgZvVdk_FP3mQOnovjfIiTgAfe5teSzSjY0GTm0cpK2EcK2e1PmLCpv-1APB7bv8UcZN-fDaPDRVVJnXmUhpueT_l9e7_Jmv3hNXr5iseL8Jrc4=w384-h240-no", class: 'leaves-img-contact-me') %>
    </div>
  </div>
</div>