<div class="container home-callout">
  <div class="row">
    <div class="col-lg-3 col-md-12">
      <%= image_tag("https://nogellos-portfolio-assets.s3.amazonaws.com/assets/leaves-img.png", class: 'leaves-img-works') %>
      <%= link_to "works", categories_path, class: 'link works' %>
      <div class="portfolio-box">
        <h1>port</h1><br/>
        <h1>fol</h1><br/>
        <h1>io</h1>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 d-flex justify-content-center align-self-center portrait-and-text">
      <%= image_tag("https://s3.amazonaws.com/nogellos-portfolio-assets/assets/portrait-img.jpg", class:'portrait-img rounded-circle') %>
      <div class="img-text d-flex align-items-center justify-content-center">
        <%= link_to "About Me", about_path, class: 'text-center' %>
      </div>
    </div>
    <div class="col-lg-3 col-md-12"> 
      <div class="d-flex justify-content-center">
        <%= image_tag("https://nogellos-portfolio-assets.s3.amazonaws.com/assets/nogellos-img.png", class:'nogellos-img') %>
      </div>
      <%= link_to "my instagram", "https://www.instagram.com/nogellos/", class: 'link my-inst' %>
      <%= image_tag("https://nogellos-portfolio-assets.s3.amazonaws.com/assets/leaves-img.png", class: 'leaves-img-my-inst') %>
    </div>
  </div>
</div>