<!DOCTYPE html>
<html>
  <head>
    <title>NogellosPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:100,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_page?('/') %>
      <%= image_tag("https://lh3.googleusercontent.com/wwSfDGoTH31XzEI_rECYNz3zpaDR2gDeNNGXFi3dj_p2XqHVJsSPXMoi4mRiHtt4zmnYuAj3xJJO4moaOua_MhsQX_ixoqFYjflmCeX8Q8FBQHgxbIFrqJSc71gk7HSXdSGmAe4-6aBhpGuPrZr8fkKlV47uMwOxvrcnuts82Py41FM-ZJ1jsgrYQWvDcxv8v4uUsEhojcSon3v_QN-s8_mDlKUr46oGP7oErXkyl4L_4nOB4VOkqtpB5isssnxruJ5WdnBv9RFFlnwASd1Ye8gnpbz3FTjvhwbP7yNqUUOAoiN-bUKA-QTJn88ilgoV8ueceMBEUh6atZTQ-YcN1B7azUPHImM6DKelsZSfeSB3vyA1sV-G0IJie1r7LJpw0uQk2SgABfCsQ2OAh3fWClwsqUQmaEDPtpiUgKNXLvAMe64Gz5Uddxwb33l3FGx-UYfdn1Q7kB5jS8MUo_99z-UxigBZ9xKgplyQZ5a1QLqxSliXpqazxywYwYoSurlcOtEiGpDiRI0u_Ao13LPEGWwtwYlK458aUdAHEoVx1G8IKIPfCsW8Q51xSrD4jR1oetZYSW0d2jcKNPvTT1LPLVGLfkpOcbRnDhAebcNVIu-p9aumL3kkzV__8HwgCus=w342-h256-no", class: "corner-leaves") %>
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <i class="fa fa-pencil"></i>
          Nogellos
          <i class="fa fa-paint-brush"></i>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Works", works_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Order an artwork", "#", class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
