<!DOCTYPE html>
<html>
  <head>
    <title>NogellosPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:100,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_page?('/') %>
      <%= image_tag("https://lh3.googleusercontent.com/jR7x1i-q6v9bouQtSEtamlM9e4z4yi-QD-VIMB0zeHP6m0oDuxH4rSuhvcOwH_YLH5KBKDC4FeROtpgARBAohzJggi1Cyn5rtrGa3IbeuQf0KVt4Qqy2_4dQ6-sG5bkAzeAQKVoCz7pzwO6ysp9r_Ayb8YVzzFzkXxC5vGOO2p1sNSNlNAMp7hFVl5j8rVA3XXkk-LqJQ96LgbuYgloedc2lMghc-KgQd1Qmnl7t3VMoNLCnkyHxt8NSbUBBrGzfNPrE2-NTdqaAGUYEuRDdx5p8svsb_1Q9lL74CSZdjujIIF7hHXQ7_T95SC71TiKuF6LZbuuFTmMEPBpbuc5BiaJ8SGiG31MgLsUEdbkYV9sQ1uitaLzTNRkyCV8PT9ErmP9_HvXhr37XXUICePO65EFV5UI9n8Kac3iAbVmvxvy6FwrAm-IXNwW90aoixMgx9FSFY11_i8Ho1RxIwekK4rYNCWwsrkpL7HMxJ9wjJ_SKYg0J5YmqXVj53Dnk0tnr3xiyndzCtwHuHUqUuNAElIdURnTYy8HSBERGUBxudr7liOSO3RPjypEjyTHn5EVyycfiCoJ1JZZLyBpdwOh2WWZ4uC0gC2X4WVfx5OOuEfu7IMUw3UxVjPFRQwLhCzo=w342-h256-no", class: "corner-leaves") %>
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <i class="fa fa-pencil"></i>
          Nogellos
          <i class="fa fa-paint-brush"></i>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Works", "#", class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Order an artwork", "#", class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
